#calibr8-cookie-compliance {
    padding: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.calibrate-cookie-compliance__text {
    text-align: center;
}

.calibrate-cookie-compliance__button-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.calibrate-cookie-compliance__button-wrapper > div {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.calibrate-cookie-compliance__button-wrapper > div:first-child {
    margin: 0 0 16px;
}