<div {{ attributes }} style="display: none;">
  <div class="container">
    <div class="calibrate-cookie-compliance__text">
        {{ notification_message }}
    </div>
    <div class="calibrate-cookie-compliance__button-wrapper">
      <div class="calibrate-cookie-compliance__agree">
        <a class="button button-primary" id="calibrate-agree-cookie-compliance" href="#">{{ agree_button_label }}</a>
      </div>
      <div class="calibrate-cookie-compliance__disagree">
        <a id="calibrate-disagree-cookie-compliance" href="#">{{ disagree_button_label }}</a>
      </div>
    </div>
  </div>
</div>