<section class="calibr8-cookie-compliance-delete paragraph width--medium">
    <div class="inner">
        {{ delete_text }} <a href="#" id="calibr8-cookies-delete" data-delete-successful="{{ delete_cookie_successful_text }}">{{ delete_button_text }}</a>
    </div>
</section>