<div {{ attributes }}>
  <div class="container">
    <span class="notification">
      {{ notification_message }}
      {{ info_link }}
    </span>
    <span class="accept-link">
      {{ accept_link }}
    </span>
  </div>
</div>