<div {{ attributes.addClass('calibr8-cookie-compliance') }} style="display: none;">
  <div class="container">

    <div class="calibr8-cookie-compliance__text">
      {{ notification_message }}
    </div>

    <div class="calibr8-cookie-compliance__button-wrapper">
      <div class="calibr8-cookie-compliance__consent">
        <a id="calibr8-cookie-compliance-consent" href="#" class="button button-primary" >{{ consent_button_label }}</a>
      </div>
      <div class="calibr8-cookie-compliance__noconsent">
        <a id="calibr8-cookie-compliance-noconsent" href="#">{{ noconsent_button_label }}</a>
      </div>
    </div>

  </div>
</div>